@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* ---- Shared --- */
p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  padding: 20px 24px;
}
/* ----------------- Header Section ------------------------ */
.header_section {
  padding: 50px 0;
  background-color: #ff900e1a;
  margin-bottom: 85px;
}

.head_container {
  width: 90%;
  margin: 0 auto;
}

/* ---------------------------- Navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}

.navbar > div > h3 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.navbar > div > nav > ul {
  display: flex;
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 477px;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------ Heading  */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.head_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-bottom: 50px;
}

.head_line > h2 {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 16px;
}

.head_line > p {
  margin-bottom: 32px;
}

.banner > img {
  width: 100%;
}

/* ----------------------------------------- Main Section ------------------------------------------- */
.main_section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
/* ------------- Feature */
.feature_section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 73px;
  margin-bottom: 130px;
}

.img_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.img_container > img {
  width: 100%;
}

.features {
  flex: 1;
}

.first {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}

.second,
.third {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.third {
  color: #ff900e;
}

.features > h3 {
  margin-bottom: 24px;
}

.features > p {
  margin-bottom: 32px;
}

/* ------------------ List_of_feature_section */
.list_of_feature_section {
  display: flex;
  justify-content: center;
  gap: 54px;
  margin-bottom: 130px;
}

.list_left,
.list_right {
  flex: 1;
}

.list_left_heading {
  margin-bottom: 30px;
}

.list_left_heading > h3 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  border-left: 2px solid #ff900e;
  padding-left: 30px;
  margin-bottom: 24px;
}

.list_card {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.list_card > span {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.list_right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.list_right > img {
  width: 90%;
  height: 95%;
}

.experience {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  padding: 30px 28px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
}

.experience > h2 > span {
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
}

/* ---------------------- fact_section */
.fact_section {
  width: 100%;
  margin-bottom: 180px;
}

.fact_heading {
  width: 50%;
  margin-bottom: 100px;
}

.fact_heading > h3 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

.facts_list {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 36px;
  text-align: center;
}

.fact > h4 {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
}

.fact > p {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* -------------------------- sponsored_section */
.sponsored_section {
  width: 100%;
}

.sponsor_heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.sponsor_heading > h3 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

.sponsor_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor_list > div > img {
  width: 100%;
}

/* -------------------------------- Footer -------------------------------- */
footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e7;
  padding: 40px 0;
  color: #424242;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 130px;
}
/* !----------------------------------------------- SMALL -------------------------------- */
@media screen and (max-width: 576px) {
  button {
    font-size: 16px;
    padding: 15px 20px;
  }

  /* ---------------------- Navbar  */
  .navbar {
    margin-bottom: 80px;
  }

  .navbar > div > h3 {
    font-size: 30px;
  }

  .navbar > div > nav > ul {
    display: none;
  }

  .head_line {
    width: 100%;
  }

  .head_line > h2 {
    font-size: 50px;
  }

  /* ----------------------------------MAIN */

  /* --------------- Feature */
  .feature_section {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .img_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .img_container > div > img {
    width: 100%;
  }

  .first,
  .second,
  .third {
    font-size: 23px;
  }

  /* --------------------- List_of_feature_section */
  .list_of_feature_section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .list_left_heading > h3 {
    font-size: 32px;
  }

  .list_right {
    align-items: center;
  }

  .list_right > img {
    width: 100%;
  }

  .experience {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 14px;
  }

  .experience > h2 > span {
    font-size: 40px;
    line-height: 50px;
  }

  /* ---------------------- fact_section */

  .fact_heading {
    width: 100%;
  }

  .fact_heading > h3 {
    font-size: 32px;
  }

  .facts_list {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* -------------------------- sponsored_section */

  .sponsor_heading {
    width: 90%;
  }

  .sponsor_heading > h3 {
    font-size: 32px;
  }

  .sponsor_list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  /* -------------------------------- Footer -------------------------------- */
  footer {
    text-align: center;
    padding: 20px;
  }
}
/* !----------------------------------------------- Medium -------------------------------- */

@media screen and (min-width: 577px) and (max-width: 767px) {
  /* ----------------- Navbar  */
  .navbar {
    margin-bottom: 80px;
  }

  .navbar > div > h3 {
    font-size: 35px;
  }

  .navbar > div > nav > ul {
    display: none;
  }

  .head_line {
    width: 90%;
  }

  .head_line > h2 {
    font-size: 50px;
  }

  /* ----------------------------------MAIN */

  /* --------------- Feature */
  .feature_section {
    flex-direction: column;
  }

  .img_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .img_container > div > img {
    width: 100%;
  }

  .first,
  .second,
  .third {
    font-size: 30px;
  }

  /* --------------------- List_of_feature_section */
  .list_of_feature_section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .list_left_heading > h3 {
    font-size: 32px;
  }

  .list_right {
    align-items: center;
  }

  .list_right > img {
    width: 100%;
  }

  .experience {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 14px;
  }

  .experience > h2 > span {
    font-size: 40px;
    line-height: 50px;
  }

  /* ---------------------- fact_section */

  .fact_heading {
    width: 100%;
  }

  .fact_heading > h3 {
    font-size: 32px;
  }

  .facts_list {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* -------------------------- sponsored_section */

  .sponsor_heading {
    width: 90%;
  }

  .sponsor_heading > h3 {
    font-size: 32px;
  }

  .sponsor_list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  /* -------------------------------- Footer -------------------------------- */
  footer {
    text-align: center;
    padding: 20px;
  }
}
/* !----------------------------------------------- Large -------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* ----------------- Navbar  */
  .navbar {
    margin-bottom: 80px;
  }

  .navbar > div > h3 {
    font-size: 38px;
  }

  .navbar > div > nav > ul {
    width: 300px;
  }

  /* ----------------------- Heading */

  .head_line {
    width: 90%;
  }

  .head_line > h2 {
    font-size: 55px;
  }
  /* ----------------------------------MAIN */

  /* --------------- Feature */
  .feature_section {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .img_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .img_container > div > img {
    width: 100%;
  }

  .first,
  .second,
  .third {
    font-size: 36px;
  }

  /* --------------------- List_of_feature_section */
  .list_of_feature_section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .list_left_heading > h3 {
    font-size: 32px;
  }

  .list_right {
    align-items: center;
  }

  .list_right > img {
    width: 100%;
  }

  .experience {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 14px;
  }

  .experience > h2 > span {
    font-size: 40px;
    line-height: 50px;
  }

  /* ---------------------- fact_section */

  .fact_heading {
    width: 100%;
  }

  .fact_heading > h3 {
    font-size: 32px;
  }

  .facts_list {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* -------------------------- sponsored_section */

  .sponsor_heading {
    width: 90%;
  }

  .sponsor_heading > h3 {
    font-size: 32px;
  }

  .sponsor_list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  /* -------------------------------- Footer -------------------------------- */
  footer {
    text-align: center;
    padding: 20px;
  }
}
